<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
       
   <add name="ConnString" connectionString="data source=KEYBSDEVP8;initial catalog=StockDB;user id=sa;password=Abcd1234;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
   

    </connectionStrings>
</configuration>